The following are the requirements of this project and how to install each:
1. SQLAlchemy
pip install sqlalchemy

2. Requests
pip install requests

3. BeautifulSoup4
pip install beautifulsoup4

4. Pygraphviz
sudo apt-get install graphviz-dev
pip install pygraphviz

5.DB browser for SQLite
sudo apt update
sudo apt install sqlitebrowser
